.lineChart {
  $root: &;

  #{&}__pace {
    fill: none;
    stroke: $colors-pace;
    stroke-width: 2px;

    &--avg {
      stroke: $colors-pace;
      fill: none;
      stroke-width: 1px;
      stroke-dasharray: 5,5;
    }
  }

  #{&}__heartrate {
    fill: none;
    stroke: $colors-hr;
    stroke-width: 2px;

    &--avg {
      stroke: $colors-hr;
      fill: none;
      stroke-width: 1px;
      stroke-dasharray: 5,5;
    }
  }

  #{&}__scale {
    font-family: $font-family--main;
    &--pace {
      text {
        fill: $colors-pace
      }
    }

    &--heartrate {
      text {
        fill: $colors-hr
      }
    }
  }
}
