.divider {
  $root: &;
  margin: 32px 0;
  font-family: $font-family--secondary;
  overflow: visible;

  height: 180px;
  position: relative;

  img {
    position: absolute;
    left: -30px;
    width: 100vw;
    object-fit: cover;
  }

  #{&}__text {
    width: 320px;
    text-align: center;
    position: absolute;
    bottom: 56px;
    padding: 9px 32px 7px 32px;
    background-color: $colors-white;
    border-radius: 40px;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 0 10px 0 rgba(69, 69, 69, 0.4);
    font-weight: 700;
  }
}
