<div class="activityGraphs">
  <div class="activityGraphs__toggle">
    <toggle-Module
      :items="toggleOptions"
      :selectedOption="selectedOption"
    ></toggle-Module>
  </div>
  <div class="activityGraphs__content">
    <div class="row">
      <div class="col-md-9 activityGraphs__graph">
        <div>

        </div>
      </div>
      <div class="col-md-3 activityGraphs__list">
        <run-list
          v-if="runListdata !== null"
          :data="runListdata"
          :selectedType="selectedType"
        ></run-list>
      </div>
    </div>
  </div>
</div>
