.lastRunModule {
  $root: &;
  font-family: $font-family--secondary;
  display: inline-block;
  font-size: 0;
  border-radius: 2px;
  cursor: pointer;

  .leaflet-container {
    border-radius: 2px;
  }

  .leaflet-control-container {
    display: none;
  }

  .leaflet-tile-pane {
    visibility: hidden;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.15);
  }

  #{&}__map {
    width: 100%;
    height: 180px;
    background-color: #F4F4F4;
    border-radius: 2px;
    text-align: center;
  }

  #{&}__restday {
    transform: translate(0, 82px);
    opacity: 0.5;
  }

  #{&}__information {
    padding: 10px;
    padding-bottom: 16px;

    &--faded {
      opacity: 0.3;
    }

    #{$root}__title {
      font-size: 16px;
      text-transform: uppercase;
      color: $color-black;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #{$root}__type {
      font-size: 14px;
      font-weight: 400;
      color: $color-grey;
    }

    #{$root}__stats {
      font-size: 16px;
      color: $color-black;
      font-weight: 700;
      margin-top: 24px;


      &--value {
        margin-right: 6px;
      }

      &--unit {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
