.lastRunModule {
  $root: &;
  font-family: $font-family--main;
  display: block;
  padding-top: 24px;

  .vue2leaflet-map, .leaflet-container, .leaflet-retina, .leaflet-safari {
    border-radius: 8px !important;
  }

  .leaflet-control-container {
    display: none;
  }

  #{&}__content {
    position: relative;


    #{$root}__wrapper {
      position: relative;
      cursor: pointer;
      background-color: $color-white;
      border-radius: 8px;
      box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.2);
      margin-bottom: 40px;

      #{$root}__map {
        height: 200px;
        width: 100%;
        position: relative;
      }

      #{$root}__text {
        position: absolute;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        height: 90px;
        padding-top: 40px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.84) 68%, #ffffff);
        width: 100%;
        z-index: 1001;
        font-family: $font-family--main;


        &-content {
          position: relative;

          &--square {
            background-color: $color-white;
            border: 1px solid $color-grey;
            color: $color-black;
            display: inline-block;
            text-transform: uppercase;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            text-align: center;
            padding-top: 9px;
            transform: translate(0, -10px);
            font-weight: 700;
          }

          #{$root}__text-info {
            display: inline-block;
            margin-left: 6px;
            max-width: 240px;
          }

          &--name {
            color: $color-black;
            font-size: 16px;
            line-height: 16px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &--label {
            font-family: $font-family--secondary;
            color: $color-grey;
            margin-top: 8px;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
