.navigationModule {
  $root: &;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: $color-white;
  box-shadow: 0 0 10px 0 rgba(69, 69, 69, 0.4);

  #{&}__content {
    padding: 0 1px;
    justify-content: flex-end;

    #{$root}__burger {
      cursor: pointer;
      width: 35px;
      height: 24px;
    }
  }
}
