.performance {
  $root: &;
  padding-top: 60px;
  padding-left: 16px;
  padding-right: 16px;

  #{&}__content {
    padding: 0;
    padding-top: 32px;

    @media screen and (min-width: 767px) and (max-width: 780px) {
      padding-right: 16px;
    }
  }
}
