.compareBox {
  $root: &;
  text-align: center;
  margin: 32px 0;

  #{&}__value {
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
  }

  #{&}__unit {
    font-weight: 400;
    font-size: 12px;
  }

  #{&}__label {
    font-size: $font-size__body-labels;
    color: $color-gray--dark;
    font-family: $font-family--secondary;
  }
}
