.compareBox {
  $root: &;
  text-align: center;
  margin-top: 24px;

  #{&}__value {
    font-size: $font-size__headline--compare;
  }

  #{&}__unit {
    font-size: $font-size__body-labels;
  }

  #{&}__label {
    font-size: $font-size__body-labels;
    color: $color-gray--dark;
    font-family: $font-family--secondary;
  }
}
