.compareAddButton {
  $root: &;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 5px 30px;
  font-size: 14px;
  border-right: 2px solid $color-grey--light;

  &:last-of-type {
    border: none;
  }

  i {
    cursor: pointer;
  }

  #{&}__title {
    i {
      font-size: 12px;
      margin-left: 5px;
      transform: translate(0px, -1px);
    }
  }
}
