<div class="container-fluid comparison">
  <div v-if="progressStep === 0">
    <div class="container">
      <div class="row sectionLabel">
        <div class="col-md-12">
          Vergleiche deine Wettkampfvorbereitungen
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <compare-add
            :selectedClusters="selectedTrainingClusters"
          ></compare-add>
        </div>
      </div>
    </div>
  </div>

  <div v-if="progressStep === 1">
    <modal-module v-if="showModal">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div v-for="(item, i) in selectedTrainingClusters"
                 :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
              <doughnut-chart
                :root="'doughnut'"
                :index="i"
                :data="selectedWeeks[item]"
                :loadingStatus="loadingStatus"
                :hoveredRunType="hoveredRunType"
              ></doughnut-chart>
            </div>
          </div>
        </div>
      </div>
    </modal-module>

    <div class="container comparison__filter">
      <modal-button
        :counter="selectedWeeksLength"
      ></modal-button>
      <detail-toggle
        :isUnfolded="showEverything"
      ></detail-toggle>
      <display-toggle></display-toggle>
      <smart-filter></smart-filter>
    </div>

    <div class="container">
      <div class="row">
        <div v-for="(item, i) in selectedTrainingClusters"
             :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
          <compare-module
            :index="i"
            :data="sortedLists"
            :trainingCluster="selectedTrainingClusters"
            :loadingStatus="loadingStatus"
          ></compare-module>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row sectionLabel">
        <div class="col-md-12">
          Vorbereitungsverlauf
        </div>
      </div>
      <div class="row">
        <div v-for="(item, i) in selectedTrainingClusters"
             :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
          <train-compare
            :root="'train' + i"
            :anchors="selectedTrainingClusters"
            :preparation="selectedTrainingClusters[i]"
            :loadingStatus="loadingStatus"
            :selectedRunType="selectedRunType"
            :selectedDisplayType="selectedDisplayType"
            :isUnfolded="showEverything"
          ></train-compare>
        </div>
      </div>
    </div>
  </div>
</div>
