<div class="container-fluid comparison">
  <div v-if="progressStep === 0">
    <div class="container">
      <div class="row sectionLabel">
        <div class="col-md-12">
          Vergleiche deine Wettkampfvorbereitungen
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <compare-add
            :selectedClusters="selectedTrainingClusters"
            :existingClusters="existingClusters"
          ></compare-add>
        </div>
      </div>
      <div class="row">
        <input type="button" @click="nextStep()" value="'hi'">
      </div>
    </div>
  </div>

  <div v-if="progressStep === 1">

    <div class="container">
      <div class="row">
        <div v-for="(item, i) in selectedTrainingClusters"
             :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
          <compare-module
            :index="i"
            :data="sortedLists"
            :trainingCluster="selectedTrainingClusters"
            :loadingStatus="loadingStatus"
          ></compare-module>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row sectionLabel">
        <div class="col-md-12">
          Vorbereitungsverlauf
        </div>
      </div>
      <div class="row">
        <div v-for="(item, i) in selectedTrainingClusters"
             :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
          <train-compare
            :root="'train' + i"
            :anchors="selectedTrainingClusters"
            :preparation="selectedTrainingClusters[i]"
            :loadingStatus="loadingStatus"
            :selectedRunType="selectedRunType"
            :selectedDisplayType="selectedDisplayType"
            :isUnfolded="showEverything"
          ></train-compare>
        </div>
      </div>
    </div>
  </div>
</div>
