.headlineBox {
  $root: &;

  #{&}__image {
    margin-top: -15px;
    margin-right: 10px;
    height: 33px;
    width: auto;
    display: inline-block;
  }

  #{&}__content {
    text-align: left;
    display: inline-block;

    #{$root}__main {
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
