.activitiesGraph {
  $root: &;

  .box-content {
    margin-top: 0;
  }

  #{&}__portrait {
    display: none;
    @media screen and (max-width: 900px) {
      display: block;
    }

    .toggleStandard {
      transition: opacity 0.3s ease;
      margin-bottom: 16px;
      position: sticky;
      top: 70px;
      z-index: 80;
    }


    .faded {
      transition: opacity 0.3s ease;
      opacity: 0.1;
    }
  }

  #{&}__landscape {
    display: none;
    @media screen and (min-width: 901px) {
      display: block;
    }
  }

  #{&}__chart {
    margin-top: 8px;
    padding: 16px;
  }
}
