.activitiesGraph {
  $root: &;

  .faded {
    transition: opacity 0.3s ease;
    opacity: 0.1;
  }

  .box-content {
    margin-top: 0;
  }

  .toggleStandard {
    transition: opacity 0.3s ease;
    margin-bottom: 16px;
    position: sticky;
    top: 70px;
    z-index: 80;
  }

  #{&}__chart {
    margin-top: 8px;
    padding: 16px;
  }
}
