.historyChart {
  $root: &;

  &__label {
    fill: $color-black;
    font-family: $font-family--secondary;
    font-size: 14px;
  }

  &__week {
    fill: $color-grey;
    font-family: $font-family--secondary;
    font-size: 10px;
  }
}
