<div class="activityStats">
  <div class="activityStats__content" v-if="data != null">
    <stat-item
      :value="data.distance"
      :label="'Distanz'"
      :image="'distance--gray'"
    ></stat-item>
    <stat-item
      :value="data.duration"
      :label="'Dauer'"
      :image="'clock--gray'"
    ></stat-item>
    <stat-item
      :value="data.elevation"
      :label="'Höhenmeter'"
      :image="'clock--gray'"
    ></stat-item>
    <stat-item
      :value="data.pace"
      :label="'ø Pace'"
      :image="'distance--gray'"
    ></stat-item>
    <stat-item
      :value="data.heartrate"
      :label="'ø Herzfrequenz'"
      :image="'distance--gray'"
    ></stat-item>
    <stat-item
      :value="data.intensity"
      :label="'Intensität'"
      :image="'distance--gray'"
    ></stat-item>
  </div>
</div>
