<div class="dimension" v-if="!hidePermantly">
  <div class="dimension__content">
    <div class="dimension__headline">
      Darstellungsoptionen
    </div>
    Die Applikation ist zwar responsiv, aber für Smartphones und Tablets optimiert. <br>
    Für eine optimale Erfahrung verkleinern Sie ihr Browserfenster oder nutzen Sie ein mobiles Endgerät.

    <div class="dimension__buttons">
      <input type="button" class="accept" value="Mir egal! Ich möchte die Desktopvariante sehen" @click="hidePopup()">
    </div>
  </div>
</div>
