.dashboard {
  $root: &;
  height: calc(100vh - 65px);

  #{&}__row {
    margin: 0;
  }

  #{&}__content {
    padding: 0;

    #{$root}__visualization {
      padding: 20px;
      text-align: right;
    }
  }

  #{&}__fixed {
    padding: 0;
  }
}
