.dashboard {
  $root: &;
  height: 100vh;
  margin-left: 108px;
  padding-top: 80px;

  .last-run-module {
    width: calc((100% / 7) - 14px);
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
