.dashboard {
  $root: &;
  height: calc(100vh - 65px);

  #{&}__row {
    margin: 0;
  }

  #{&}__content {
    padding: 0;

    #{$root}__visualization {
      padding: 20px;

      #{$root}__headline {
        font-size: 14px;
      }
    }
  }

  #{&}__fixed {
    .user-module, .day-module {
      margin-bottom: 50px;
    }
    padding: 0;
  }
}
