.mapOverlayItem {
  $root: &;
  font-family: $font-family--secondary;

  #{&}__content {
    text-align: right;
    display: inline-block;

    #{$root}__value {
      font-size: 22px;
      color: $color-black;
      font-weight: 700;
    }

    #{$root}__label {
      font-size: 12px;
      font-weight: 400;
      color: #9D9D9D;
    }
  }
}
