<div class="activitiesGraph">
  <modal v-show="showModal">
    <modal-list
      :items="modalItem"
      :range="modalRange"
    ></modal-list>
  </modal>
  <div class="box-wrapper">
    <div class="box-content">
      <toggle-standard
        :class="{faded : fadeToggle}"
        :options="toggleData"
        :selectedOption="selectedToggle"
      ></toggle-standard>
      <div class="box-label">
        Trainingsentwicklung im wöchentlichen Überblick
      </div>
      <div class="activitiesGraph__chart card">
        <train-chart v-if="selectedToggle == 0"
          :root="'train'"
          :anchors="['All']"
          :preparation="'All'"
          :loadingStatus="loadingStatus"
          :selectedRunType="selectedRunType"
          :selectedDisplayType="selectedDisplayType"
          :showEverything="showEverything"
          :clustering="'byWeeks'"
          :showDate="true"
          :index="0"
        ></train-chart>
        <activities-list v-if="selectedToggle == 1"
           :preparation="'All'"
           :loadingStatus="loadingStatus"
           :selectedRunType="selectedRunType"
           :showEverything="showEverything"
           :clustering="'byWeeks'"
        ></activities-list>
      </div>
    </div>
  </div>
</div>

