<div class="activity">
  <div class="activity__week" v-for="(item, j) in formatedData">
    <div class="activity__days">
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 0)}">SO</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 6)}">SA</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 5)}">FR</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 4)}">DO</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 3)}">MI</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 2)}">DI</div>
      <div class="activity__day" :class="{'activity__day--active' : isToday(j, 1)}">MO</div>
    </div>
    <div class="activity__entries">
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[6]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[6].length === 0">{{ isFuture(j, 0) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[5]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[5].length === 0">{{ isFuture(j, 6) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[4]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[4].length === 0">{{ isFuture(j, 5) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[3]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[3].length === 0">{{ isFuture(j, 4) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[2]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[2].length === 0">{{ isFuture(j, 3) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[1]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[1].length === 0">{{ isFuture(j, 2) }}</div>
      </div>
      <div class="activity__entry">
        <div class="activity__ac" v-for="(entry, i) in item[0]" :style="{ color: getColor(entry) }" @click="openDetailView(entry)">{{ entry.name }}</div>
        <div class="activity__restday" v-if="item[0].length === 0">{{ isFuture(j, 1) }}</div>
      </div>
    </div>
    <!--<activity-list-item v-for="ac in item"
      :activity="ac"
    ></activity-list-item>-->
  </div>
</div>
