<div>
  <h1>Name</h1>
  {{ getSelectedActivityTest.name }} <br>

  <h1>Details</h1>
  <span v-if="getSelectedActivityTest.details">{{ getSelectedActivityTest.details }}</span>

  <h1>Streams</h1>
  <div v-if="getSelectedActivityTest.streams">
    <linechart
      :valueDATA="getSelectedActivityStreamsTest"
      :distanceDATA="getSelectedActivityStreamsDistanceTest"
      :paceDATA="getSelectedActivityStreamsPaceTest"
      :averageHR="getSelectedActivityTest.average_heartrate"
      :maxHR="getSelectedActivityTest.max_heartrate"
      :maxPace="getSelectedActivityTest.max_speed"
    ></linechart>
  </div>
</div>
