<div class="activityZoneList">
  <div class="activityZoneList__icons clearfix">
    <div class="activityZoneList__column activityZoneList__column--half">
      <img src="../../../assets/icons/solid/timer--lightgray.svg">
    </div>
    <div class="activityZoneList__column activityZoneList__column--half">
      <img src="../../../assets/icons/solid/hr--lightgray.svg">
    </div>
  </div>
  <div class="activityZoneList__content card" v-if="listData !== null">
    <div class="activityZoneList__item clearfix vcenter-content"
       v-for="item in listData">
      <div class="activityZoneList__column">
        <div class="activityZoneList__value activityZoneList__value--pace">
          {{ item.paceDuration }}
        </div>
        <div class="activityZoneList__label">
          {{ item.paceRange }}
        </div>
      </div>
      <div class="activityZoneList__column activityZoneList__column--small">
        <div class="activityZoneList__value">
          {{ item.index }}
        </div>
      </div>
      <div class="activityZoneList__column">
        <div class="activityZoneList__value activityZoneList__value--hr">
          {{ item.hrDuration }}
        </div>
        <div class="activityZoneList__label">
          {{ item.hrRange }}
        </div>
      </div>
    </div>
  </div>
</div>
