<div class="container">
  <bubble-chart
    :valueData="activities"
    :runType="selectedRunType"
    :displayedData="sortedActivities"
    :clusterType="selectedCluster"
  ></bubble-chart>

  <div id="filter" @click="selectRunType($event)">
    <a href="#" id="allActivities" class="button active">All</a>
    <a href="#" id="run" class="button">Runs</a>
    <a href="#" id="tempo-run" class="button">TDL</a>
    <a href="#" id="long-run" class="button">Langer DL</a>
    <a href="#" id="short-intervals" class="button">Kurze IV</a>
    <a href="#" id="long-intervals" class="button">Lange IV</a>
    <a href="#" id="competition" class="button">Wettkampf</a>
    <a href="#" id="regeneration" class="button">Regeneration</a>
  </div>

  <hr>
  <div v-for="timeRange in sortedActivities.byWeeks">
    <div class="row">
      <h1 style="display: inline-block">{{ timeRange.rangeName }}</h1>
      <span>TotalDistance: {{ timeRange.stats.distance / 1000 }}</span> |
      <span>Time: {{ timeRange.stats.time }}</span> |
      <span>Run: {{ timeRange.stats.typeCount.run }}</span> |
      <span>longRun: {{ timeRange.stats.typeCount.longRun }}</span> |
      <span>interval: {{ timeRange.stats.typeCount.interval }}</span> |
      <span>competiton: {{ timeRange.stats.typeCount.competition }}</span>
    </div>
    <activity-list-item
      v-for="item in timeRange.activities"
      :activityId="item"
    ></activity-list-item>
  </div>
</div>
