<div class="container">
  <bubble-chart
    :valueData="activities"
  ></bubble-chart>
  <div v-for="timeRange in sortedActivities.byWeeks">
    <div class="row">
      <h1>{{ timeRange.stats.rangeName }}</h1>
      <span>TotalDistance: {{ timeRange.stats.distance }}</span> |
      <span>Time: {{ timeRange.stats.time }}</span> |
      <span>Run: {{ timeRange.stats.typeCount.run }}</span> |
      <span>longRun: {{ timeRange.stats.typeCount.longRun }}</span> |
      <span>interval: {{ timeRange.stats.typeCount.interval }}</span> |
      <span>competiton: {{ timeRange.stats.typeCount.competiton }}</span>
    </div>
    <activity-list-item
      v-for="item in timeRange.activities"
      :activityId="item"
    ></activity-list-item>
  </div>
</div>
