.trainChart {
  $root: &;

  &__checkbox {
    cursor: pointer;
  }

  &__divider-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }

  &__bar-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }

  &__arc-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }
}
