.trainChart {
  $root: &;
  position: relative;

  #{&}__label {
    position: absolute;
    width: 30px;
    height: 168px;
    left: -54px;
    top: 23px;
    border-right: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      transform-origin: 50% 50%;
      transform: rotate(-90deg);
      font-size: 12px;
    }
  }

  &__checkbox {
    cursor: pointer;
  }

  &__divider-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }

  &__bar-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }

  &__arc-label {
    font-family: $font-family--secondary;
    font-size: 16px;
  }
}
