<div class="zoneModule card">
  <div class="row">
    <div class="col-md-6">
      <zone-chart
        :root="'zones'"
        :zones="zones"
      ></zone-chart>
    </div>
    <div class="col-md-6">
      <p>
        Dieser Lauf war für den Körper sehr intensiv, dadurch hast Du deine XXX
        verbessern können.
        Deine Herzfrequenz- und Pacezonen weichen stark voneinander ab. In
        diesem Fall war die Herzfrequenz zu hoch für das gelaufene Tempo.
        Wenn dies häufiger passiert, überlege dir etwas langsamer zu trainieren,
        oder passe die Zonen an deinen aktuellen Leistungsstand an.
      </p>
    </div>
  </div>
</div>
