<div class="container-fluid compare">
  <floating-menu v-if="!isSelection"
    :menuItemsTop="menuItems.top"
    :menuItemsLeft="menuItems.bottom"
    :selectedItems="selectedMenu"
  ></floating-menu>

  <div v-if="isSelection" class="container compare__content">
    <compare-select
      :clusters="existingClusters"
      :selectedClusters="selectedTrainingClusters"
      :loadingStatus="loadingStatus"
    ></compare-select>
  </div>

  <div v-if="!isSelection" class="container compare__content">
    <compare-boxes
      :clusters="selectedTrainingClustersFull"
      :clusterData="selectedTrainingClustersData"
      :loadingStatus="loadingStatus"
    ></compare-boxes>
    <compare-graph
      :clusters="selectedTrainingClustersFull"
      :loadingStatus="loadingStatus"
    ></compare-graph>
  </div>
</div>
