<div class="container compare">
  <div class="row">
    <div class="col-md-12 compare__title">
      <headline-box
        :headline="'Compare your race preparations'"
        :subHeadline="'Gain insights how you prepared.'"
        :illustration="'compare'"
      ></headline-box>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 compare__menu">
      <compare-add-button v-for="item in selectedTrainingClusters"
        :trainingCluster="item"
        :isAdd="false"
      ></compare-add-button>
      <div class="compare__select" v-if="selectedTrainingClusters.length < 3">
        <select v-model="selectedCluster"
                @change="selectTrainingCluster">
          <option disabled value="">Add a preparation</option>
          <option v-for="item in existingClusters" v-if="selectedTrainingClusters.indexOf(item.clusterName) < 0 && item.isIndividual"
            :value="item.clusterName"
          >{{ item.clusterName }}</option>
        </select>
      </div>
    </div>
  </div>


  <!-- FIRST GLANCE OVERVIEW -->

  <div class="row">
    <div v-for="(item, i) in selectedTrainingClusters"
         :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
      <compare-module
        :index="i"
        :data="sortedLists"
        :trainingCluster="selectedTrainingClusters"
        :loadingStatus="loadingStatus"
      ></compare-module>
    </div>
  </div>


  <!-- DEEP COMPARE -->

  <div class="row">
    <div class="col-md-12 compare__subTitle">
      <div class="compare__teaser">How did you prepare yourself?</div>
      <div class="compare__label">Get a closer look at every aspect of your training.</div>
    </div>
  </div>
  <div class="row">
    <div v-for="(item, i) in selectedTrainingClusters"
         :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
      <donut-chart
        :root="'donut'"
        :index="i"
        :data="shownBars[i]"
        :loadingStatus="loadingStatus"
        :hoveredRunType="hoveredRunType"
      ></donut-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" v-bind:value="showAbsolute ? 'Group by Weeks' : 'Show Absolute'" @click="toggleHistoryChartMode">
      <history-chart
        :root="'history'"
        :data="sortedLists"
        :selectedClusters="selectedTrainingClusters"
        :loadingStatus="loadingStatus"
        :filterRange="filterRange"
        :showAbsolute="showAbsolute"
      ></history-chart>
      <range-slider></range-slider>
    </div>
  </div>
</div>
