.zoneChart {

  &__zone-number {
    font-family: $font-family--main;
    font-size: 16px;
    font-weight: 700;
    fill: $colors-text;
    text-shadow: 0 0 10px $colors-white;
  }

  &__zone-perc {
    font-family: $font-family--main;
    font-size: 12px;
    font-weight: 400;
  }

  &__zone-label {
    font-family: $font-family--main;
    font-size: 10px;
    font-weight: 400;
  }
}
