.zoneChart {

  &__zone-number {
    font-family: $font-family--main;
    font-size: 20px;
    font-weight: 400;
    fill: $colors-white;
    text-shadow: 0 0 10px #454545;
  }

  &__zone-perc {
    font-family: $font-family--main;
    font-size: 12px;
    font-weight: 400;
  }

  &__zone-label {
    font-family: $font-family--main;
    font-size: 10px;
    font-weight: 400;
  }
}
