<div class="activitiesList" v-if="formatedData !== null">
  <div class="activitiesList__week" v-for="(item, j) in formatedData">
      <div class="activitiesList__date" v-if="!hideDate">{{item.date}}</div>
      <div class="activitiesList__days">
        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 0)}">So</div>
          <div class="activitiesList__ac" v-if="item.data[6].length !== 0" :style="{ color: getColor(item.data[6][0]) }" @click="openDetailView(item.data[6][0])">{{ item.data[6][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[6].length === 0">{{ isFuture(j, 0) }}</div>
          <div class="activitiesList__more"  v-if="item.data[6].length > 1" @click="openModal(item.data[6])"> +{{item.data[6].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 6)}">Sa</div>
          <div class="activitiesList__ac" v-if="item.data[5].length !== 0" :style="{ color: getColor(item.data[5][0]) }" @click="openDetailView(item.data[5][0])">{{ item.data[5][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[5].length === 0">{{ isFuture(j, 6) }}</div>
          <div class="activitiesList__more"  v-if="item.data[5].length > 1" @click="openModal(item.data[5])"> +{{item.data[5].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 5)}">Fr</div>
          <div class="activitiesList__ac" v-if="item.data[4].length !== 0" :style="{ color: getColor(item.data[4][0]) }" @click="openDetailView(item.data[4][0])">{{ item.data[4][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[4].length === 0">{{ isFuture(j, 5) }}</div>
          <div class="activitiesList__more"  v-if="item.data[4].length > 1" @click="openModal(item.data[4])"> +{{item.data[4].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 4)}">Do</div>
          <div class="activitiesList__ac" v-if="item.data[3].length !== 0" :style="{ color: getColor(item.data[3][0]) }" @click="openDetailView(item.data[3][0])">{{ item.data[3][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[3].length === 0">{{ isFuture(j, 4) }}</div>
          <div class="activitiesList__more"  v-if="item.data[3].length > 1" @click="openModal(item.data[3])"> +{{item.data[3].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 3)}">Mi</div>
          <div class="activitiesList__ac" v-if="item.data[2].length !== 0" :style="{ color: getColor(item.data[2][0]) }" @click="openDetailView(item.data[2][0])">{{ item.data[2][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[2].length === 0">{{ isFuture(j, 3) }}</div>
          <div class="activitiesList__more"  v-if="item.data[2].length > 1" @click="openModal(item.data[2])"> +{{item.data[2].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 2)}">Di</div>
          <div class="activitiesList__ac" v-if="item.data[1].length !== 0" :style="{ color: getColor(item.data[1][0]) }" @click="openDetailView(item.data[1][0])">{{ item.data[1][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[1].length === 0">{{ isFuture(j, 2) }}</div>
          <div class="activitiesList__more"  v-if="item.data[1].length > 1" @click="openModal(item.data[1])"> +{{item.data[1].length - 1 }}</div>
        </div>

        <div class="activitiesList__wrapper">
          <div class="activitiesList__day" :class="{'activitiesList__day--active' : isToday(j, 1)}">Mo</div>
          <div class="activitiesList__ac" v-if="item.data[0].length !== 0" :style="{ color: getColor(item.data[0][0]) }" @click="openDetailView(item.data[0][0])">{{ item.data[0][0].name }}</div>
          <div class="activitiesList__restday" v-if="item.data[0].length === 0">{{ isFuture(j, 1) }}</div>
          <div class="activitiesList__more"  v-if="item.data[0].length > 1" @click="openModal(item.data[0])"> +{{item.data[0].length - 1 }}</div>
        </div>
    </div>
  </div>
</div>
