.handle {
  width: 14px;
  height: 14px;
  rx: 8px;
  y: 1;
  stroke: none !important;
  fill: $color-black !important;

  &--w {
    transform: translate(4px, 0);
  }

  &--e {
    transform: translate(-11px, 0);
  }
}

.selection {
  rx: 8px;
  fill: $color-gray--dark;
}
