<div class="compareBoxes" v-if="data != null">

  <div class="compareBoxes__content">
    <divider
      :title="'Wettkampfsergebnis'"
      :color="'#4f5b64'"
    ></divider>

    <div class="box-wrapper">
      <div class="box-content">
        <div class="column column--half box-label" v-for="cluster in clusters">
          {{ cluster.name }}
        </div>
        <div class="column column--half" v-for="item in data.competitions" :key="item.toString()">
          <div @click="handleEventClick(item.id)">
            <content-box
              :data="item.box"
            ></content-box>
          </div>
        </div>
      </div>
    </div>

    <divider
      :title="'Stammdaten'"
      :color="'#4f5b64'"
    ></divider>

    <div class="box-wrapper">
      <div class="box-content">
        <div class="column column--half box-label" v-for="cluster in clusters">
          {{ cluster.name }}
        </div>
        <div class="column column--half" v-for="cluster in data.basics">
          <content-box v-for="item in cluster"
            :key="item.toString()"
            :data="item"
            :hasInformation="true"
          ></content-box>
        </div>
      </div>
    </div>

    <divider
      :title="'Durchschnittswerte'"
      :color="'#4f5b64'"
    ></divider>

    <div class="box-wrapper">
      <div class="box-content">
        <div class="column column--half box-label" v-for="cluster in clusters">
          {{ cluster.name }}
        </div>
        <div class="column column--half" v-for="cluster in data.averages">
          <content-box v-for="item in cluster"
                       :key="item.toString()"
                       :data="item"
                       :hasInformation="true"
          ></content-box>
        </div>
      </div>
    </div>

    <divider
      :title="'Trainingsentwicklung'"
      :color="'#4f5b64'"
    ></divider>

  </div>
</div>
