.activity {
  $root: &;
  padding-top: 60px;
  font-family: $font-family--main;
  padding-left: 16px;
  padding-right: 16px;

  #{&}__map {
    padding: 0;
    margin-bottom: 12px;
  }

  .headlineBox {
    margin-bottom: 32px;
  }
}
