.activityDetail {
  $root: &;
  padding-top: 75px;
  font-family: $font-family--main;

  #{&}__map {
    padding: 0;
  }

  #{&}__row {
    margin-top: 160px;
  }

  #{&}__row-small {
    margin-top: 56px;
  }

  #{&}__content {
    margin-top: 56px;
  }
}
