.activityGraphs {
  $root: &;
  margin-top: 40px;
  margin-bottom: 40px;

  #{&}__toggle {
    text-align: center;
  }

  #{&}__content {
    margin-top: 24px;

    #{$root}__graph {

    }

    #{$root}__list {
    }
  }
}
