.toggleStandard {
  $root: &;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(69, 69, 69, 0.4);
  background-color: $colors-white;
  font-family: $font-family--main;

  #{&}__item {
    height: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    background-color: $colors-white;
    color: $colors-label;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;

    &:first-of-type {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-right: 2px solid $colors-white--dirty;
    }

    &:last-of-type {
      transform: translate(-2px, 0);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    #{$root}__dot {
      display: inline-block;
      height: 8px;
      width: 8px;
      margin-right: 8px;
      transform: translate(0, -2px);
      background-color: $colors-text;
      border-radius: 50%;
      visibility: hidden;

      &--active {
        visibility: visible;
      }
    }

    &--active {
      color: $colors-text;
    }
  }
}
