.compareBoxes {
  $root: &;

  .divider {
    width: calc(100% + 32px);
    transform: translate(-16px, 0);
  }

  .contentBox {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
