.arcCompare {
  &__text {
    font-size: 12px;
    font-weight: 400;
    fill: #9d9d9d;
    font-family: $font-family--secondary;
    pointer-events: none;
  }
  &__label {
    fill: #9d9d9d;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-family--secondary;
    pointer-events: none;

    &-unit {
      font-size: 12px;
    }
  }
}
