.arcCompare {
  &__text {
    font-size: 14px;
    font-weight: 400;
    fill: $color-gray;
    font-family: $font-family--secondary;
    pointer-events: none;
  }
  &__label {
    fill: $color-black;
    font-weight: 400;
    font-size: 14px;
    pointer-events: none;

    &-unit {
      font-size: 10px;
    }
  }
}
