.activities {
  $root: &;
  margin-left: 108px;
  padding-top: 80px;

  .dateModule {
    margin-top: 30px;
  }

  #{&}__filter {
    position: fixed;
    text-align: right;
    bottom: 60px;
    right: 0;
    z-index: 10;
    width: 60px;
    // left: calc(50% + 54px);
    pointer-events: none;
    // transform: translateX(-50%);

    .detailToggle {
      margin-top: 16px;
      pointer-events: all;
      float: right;
    }

    .modalButton {
      pointer-events: all;
      float: right;
      //transform: translateX(94px);
    }

    .displayTypeToggle {
      margin-top: 16px;
      pointer-events: all;
      float: right;
    }

    .smartFilter {
      margin-top: 16px;
      pointer-events: all;
      float: right;
      //transform: translateX(94px);
    }
  }
}
