<div class="compareModule">
  <!--<div class="compareModule__chart">
    <arc-compare
      :root="'arcCompare-' + index"
      :data="sortedData"
      :trainingCluster="trainingCluster"
      :loadingStatus="loadingStatus"
    ></arc-compare>
  </div>-->
  <div class="compareModule__list">
    <compare-list-item
      :data="sortedData"
      :trainingCluster="trainingCluster[index]"
      :loadingStatus="loadingStatus"
      :trainingClusterDetail="trainingClusterDetail"
    ></compare-list-item>
  </div>
</div>
