<div class="compareAddModule card">
    <div class="compareAddModule__action">
      <compare-add-button v-for="item in selectedClusters"
        :trainingCluster="item"
        :isAdd="false"
      ></compare-add-button>
      <compare-add-button v-if="selectedClusters.length < 3"
        :trainingClusters="selectedClusters"
        :existingClusters="existingClusters"
        :isAdd="true"
      ></compare-add-button>
    </div>
    <!--<div class="compareAddModule__filter">
      <div>
        <div class="compareAddModule__circle"></div>
        <div class="compareAddModule__name">Marathon</div>
      </div>
    </div>-->
</div>
