<div>
  <div v-if="data != null">
    <compare-box
      :value="data.stats.distance | formatDistance"
      :unit="'km'"
      :label="'Total distance'"
    ></compare-box>
    <compare-box
      :value="trainingClusterDetail.duration.range.toString()"
      :label="trainingClusterDetail.duration.type"
    ></compare-box>
    <compare-box
      :value="data.stats.count.toString()"
      :label="'Sessions'"
    ></compare-box>
    <compare-box
      :value="(data.stats.distance / trainingClusterDetail.duration.range) | formatDistance"
      :unit="'km'"
      :label="'Weekly average'"
    ></compare-box>
    <compare-box
      :value="(data.stats.count / trainingClusterDetail.duration.range).toFixed(1)"
      :label="'Sessions per week'"
    ></compare-box>
  </div>
</div>
