<div>
  <div v-if="data != null">
    <compare-box
      :value="data.stats.distance | formatDistance"
      :label="'Trainingskilometer'"
    ></compare-box>
    <compare-box
      :value="data.stats.count.toString()"
      :label="'Einheiten'"
    ></compare-box>
    <compare-box
      :value="trainingClusterDetail.duration.range.toString()"
      :label="trainingClusterDetail.duration.type"
    ></compare-box>
    <compare-box
      :value="(data.stats.distance / trainingClusterDetail.duration.range) | formatDistance"
      :label="'ø Wochenkilometer'"
    ></compare-box>
  </div>
</div>
