<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-12 dashboard__headline">
      <headline-box
        :headline="'Dashboard'"
        :illustration="'stopwatch'"
      ></headline-box>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 dashboard__content">
      <div class=""></div>
      <!--<wave-Chart
        :loadingStatus="loadingStatus"
      ></wave-Chart>-->
      <!--<map-module
        :loaded="loadingStatus"
      ></map-module>-->
    </div>
  </div>
</div>
