<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-12 dashboard__headline">
      <headline-box
        :headline="'Dashboard'"
        :illustration="'stopwatch'"
      ></headline-box>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 dashboard__content" v-if="actualWeek">
      <last-run-module v-for="activity, i in actualWeek"
        :activity="activity"
        :loaded="loadingStatus"
        :index="i"
        class="last-run-module"
      ></last-run-module>
      <!--<wave-Chart
        :loadingStatus="loadingStatus"
      ></wave-Chart>-->
      <!--<map-module
        :loaded="loadingStatus"
      ></map-module>-->
    </div>
  </div>
</div>
