.currentWeek {
  $root: &;
  font-family: $font-family--secondary;
  padding-top: 40px;

  #{&}__content {
    #{$root}__stat {
      width: fit-content;
      display: inline-block;
      margin-right: 48px;

      #{$root}__icon {
        margin-left: 2px;
        height: 24px;
        width: 24px;
      }

      #{$root}__label {
        color: $color-grey;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        margin-top: 24px;
        margin-bottom: 10px;
      }

      #{$root}__count {
        margin-left: 2px;
        font-family: $font-family--main;
        color: $color-black;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
      }
    }
  }
}
