$color-black: #424D56;
$color-black--blur: rgba(45, 45, 45, 0.8);
$color-white: #FFFFFF;

$color-gray: #b4b4b4;
$color-gray--dark: #9d9d9d;

$color-transparent: rgba(0,0,0,0);
$color-grey--light: #F1F0F0;
$color-grey: #ADB7BF;

$color-pace: #7BC9ED;
$color-heartrate: #ec407a;

$color-run: #9013FE;
$color-longRun: #3C0071;
$color-interval: #EC407A;
$color-competition: #FAA628;
$color-uncategorized: #9D9D9D;




$colors-white: #FFFFFF;
$colors-white--dirty: #f7f7f7;

$colors-text: #4f5b64;
$colors-subline: #80909d;
$colors-label: #adb7bf;
