$color-black: #424D56;
$color-black--blur: rgba(45, 45, 45, 0.9);
$color-white: #FFFFFF;

$color-gray: #b4b4b4;
$color-gray--dark: #9d9d9d;

$color-transparent: rgba(0,0,0,0);
$color-grey--light: #F1F0F0;
$color-grey: #ADB7BF;

$color-pace: #7BC9ED;
$color-heartrate: #ec407a;

$color-run: #00317F;
$color-longRun: #00549E;
$color-interval: #9C0272;
$color-competition: #9E9001;
$color-uncategorized: #4C2075;




$colors-white: #FFFFFF;
$colors-white--dirty: #f7f7f7;

$colors-text: #4f5b64;
$colors-subline: #80909d;
$colors-label: #adb7bf;

$colors-pace: #0D47A1;
$colors-pace--light: #64B5F6;
$colors-pace-bg: #D9E4EB;
$colors-hr: #B71C1C;
$colors-hr--light: #E57373;
$colors-hr-bg: #F7E7E8;
