$font-size__headline--huge: 50px;
$font-size__headline--compare: 25px;
$font-size__headline--large: 20px;


$font-size__main-headline: 40px;
$font-size__body-text: 16px;


$font-family--secondary: 'Inter UI', sans-serif;
