$font-size__headline--huge: 50px;
$font-size__headline--compare: 25px;
$font-size__headline--large: 20px;


$font-size__main-headline: 40px;
$font-size__main-headline--medium: 25px;
$font-size__body-markup: 20px;
$font-size__body-text: 16px;
$font-size__body-labels: 12px;

$font-family--main: 'Libre Franklin', sans-serif;
$font-family--secondary: 'Open Sans', sans-serif;
