body {
  margin: 0;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: $color-black;
}


$color-red: #E12D53;
/* tell the SVG path to be a thin blue line without any area fill */
.heartrate {
  stroke: $color-red;
  stroke-width: 1;
  fill: none;
  opacity: 0.3;

  &__scale {
    text {
      fill: $color-red;
    }
  }

  &__avg {
    stroke: $color-red;
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke-opacity: 0.5;
  }
}

.pace {
  stroke: blue;
  stroke-width: 1;
  fill: none;
  opacity: 0.3;

  &__scale {
    text {
      fill: blue;
    }
  }
}

.axis {
  shape-rendering: crispEdges;
}

.no-pointer {
  pointer-events: none;
}

