body {
  margin: 0;
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
  color: $colors-text;
  background-color: #FBFBFB;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.vcenter-content {
 display: flex;
 align-items: center;
 height: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(69, 69, 69, 0.2);
  background-color: $colors-white;
  border: solid 1px $colors-white--dirty;
}



.box-wrapper {
  .box-label {
    font-family: 'Libre Franklin', sans-serif;
    color: #adb7bf;
    font-size: 14px;
    font-weight: 600;
  }

  .box-content {
    margin-top: 16px;
  }
}

.column {
  display: inline-block;

  &--half {
    width: calc(50% - 8px);
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}











.vue2leaflet-map {
  border-radius: 24px;
}

.no-padding {
  padding: 0;
}



