:global {
  body {
    margin: 0;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                Ubuntu,
                'segoe ui', arial,
                sans-serif;
  }
  .page {
    text-align: center;
  }
  code {
    background-color: #f0f0f0;
    padding: 3px 5px;
    border-radius: 2px;
  }
}


$color-red: #E12D53;
/* tell the SVG path to be a thin blue line without any area fill */
.heartrate {
  stroke: $color-red;
  stroke-width: 1;
  fill: none;
  opacity: 0.3;

  &__scale {
    text {
      fill: $color-red;
    }
  }

  &__avg {
    stroke: $color-red;
    stroke-width: 1;
    stroke-dasharray: 5,5;
    stroke-opacity: 0.5;
  }
}

.pace {
  stroke: blue;
  stroke-width: 1;
  fill: none;
  opacity: 0.3;

  &__scale {
    text {
      fill: blue;
    }
  }
}

.axis {
  shape-rendering: crispEdges;
}

