<div class="activityDetails">
  <div class="box-wrapper">
    <div class="box-content">
      <div class="box-label">
        Verlauf der Geschwindigkeit und Herzfrequenz
      </div>
      <div class="activityDetails__graph" id="activityDetails__graph" v-if="graphData !== null">
        <div @click="showExplanation(1)">
          <detail-graph
            :data="graphData"
            :viewPortWidth="viewPortWidth"
          ></detail-graph>
        </div>
      </div>
      <toggle-standard
        :class="{faded : fadeToggle}"
        :options="toggleData"
        :selectedOption="selectedToggle"
      ></toggle-standard>
      <div class="activityDetails__list" v-if="listData !== null">
        <div @click="showExplanation(2)">
          <detail-list
            :data="listData"
          ></detail-list>
        </div>
      </div>
    </div>
  </div>
</div>
