.compareGraph {
  $root: &;

  #{&}__chart {
    margin-top: 8px;
    margin-bottom: 64px;
    padding: 16px;
  }

  #{&}__portrait {
    display: none;
    @media screen and (max-width: 666px) {
      display: block;
    }
    .toggleStandard {
      transition: opacity 0.3s ease;
      margin-bottom: 16px;
      position: sticky;
      top: 70px;
      z-index: 80;
    }

    .faded {
      transition: opacity 0.3s ease;
      opacity: 0.1;
    }
  }

  #{&}__landscape {
    display: none;
    @media screen and (min-width: 667px) {
      display: block;
      #{$root}__label {
        display: inline-block;
        float: left;
        width: calc(50% - 8px);
        // margin-right: 16px;
        text-align: center;
        color: $colors-label;
        font-size: 12px;

        &:first-of-type {
          margin-right: 16px;
        }
      }

      #{$root}__chart {
        margin-top: 4px;
        display: inline-block;
        float: left;
        width: calc(50% - 8px);
        margin-right: 16px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
