.day {
  $root: &;

  #{&}__clock {
    margin-top: 10px;
    text-align: center;
    position: relative;

    &-number {
      text-align: center;
      display: inline-block;
      font-size: 45px;
      background-color: $color-grey--light;
      height: 70px;
      line-height: 70px;
      width: 42px;

      &--small {
        transform: translate(0, -27px);
        font-size: 20px;
        width: 21px;
        line-height: 35px;
        height: 35px
      }
    }
  }
}
