<div class="container-fluid competitions">
  <modal-module v-if="showModal">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div v-for="(item, i) in selectedTrainingClusters"
               :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
            <doughnut-chart
              :root="'doughnut'"
              :index="i"
              :data="selectedWeeks[item]"
              :loadingStatus="loadingStatus"
              :hoveredRunType="hoveredRunType"
            ></doughnut-chart>
          </div>
        </div>
      </div>
    </div>
  </modal-module>

  <div class="container competitions__filter">
    <modal-button
      :counter="selectedWeeksLength"
    ></modal-button>
    <smart-filter></smart-filter>
  </div>

  <div class="container card__label">
    <div class="row">
      <div class="col-md-12">
        Zusammenfassung
      </div>
    </div>
  </div>

  <div class="container card__wrapper">
    <div class="row competitions__wrapper">
      <div v-for="(item, i) in selectedTrainingClusters"
           :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
        <compare-module
          :index="i"
          :data="sortedLists"
          :trainingCluster="selectedTrainingClusters"
          :loadingStatus="loadingStatus"
        ></compare-module>
      </div>
    </div>
  </div>

  <div class="container card__label">
    <div class="row">
      <div class="col-md-12">
        Trainingsentwicklung
      </div>
    </div>
  </div>

  <div class="container card__wrapper">
    <div class="row competitions__wrapper">
      <div class="competitions__weeks">
        Woche
      </div>
      <div
        v-for="(item, i) in selectedTrainingClusters"
        :class="['col-md-' + (12 / selectedTrainingClusters.length)]">
        <train-compare
          :root="'train' + i"
          :anchors="selectedTrainingClusters"
          :preparation="selectedTrainingClusters[i]"
          :loadingStatus="loadingStatus"
          :selectedRunType="selectedRunType"
          :isUnfolded="showEverything"
        ></train-compare>
      </div>
    </div>
  </div>
</div>
