<div class="container thesis">
  <div class="thesis__name">
    42.195
  </div>
  <div class="thesis__subtitle">
    Die Analysierbarkeit von Trainingsdaten im Marathon
  </div>
  <div class="thesis__text">
    <div class="thesis__thesis">Thesis</div>
    <div>
      zur Erlangung des Grades <br>
      <strong>Master of Arts</strong> <br>
      im Studiengang Interaktive Mediensysteme <br>
      an der Fakultät Gestaltung
    </div>
    <div class="thesis__author">
      <strong><a href="https://www.hendrikcammann.de" target="_blank">Hendrik Cammann</a></strong>
    </div>

    <div class="thesis__prof">
      Betreuer: <strong><a href="https://www.hs-augsburg.de/Gestaltung/Prof.-michael-stoll.html" target="_blank">Prof. Michael Stoll</a></strong>
    </div>

    <div class="thesis__data">
      <a href="https://www.dropbox.com/sh/arx43ef6idq6jcy/AAD2ygNs4eKVK6PQl5GcPUZwa?dl=0" target="_blank">Download der Thesis</a>
      <div @click="startApp()">
        <button-standard
          :label="'Prototyp erforschen'"
          :icon="'next'"
        ></button-standard>
      </div>
    </div>
  </div>
</div>
