<div class="smartFilter">
  <div class="smartFilter__content" v-if="isShown">
    <div class="smartFilter__item"
         @click="handleViewClick()"
    >

      <div class="smartFilter__item--name">Detail</div>
      <div class="smartFilter__item--icon"
      ></div>
    </div>
    <div v-for="item in Runtypes"
      @click="handleFilterClick(item.type)"
      class="smartFilter__item">
      <div class="smartFilter__item--name">{{ item.name }}</div>
      <div class="smartFilter__item--icon"
        :style="{ 'background-color': item.color }"
      ></div>
    </div>
  </div>
  <div class="smartFilter__button"
       @click="toggleFilter()"
  >
    <img src="../../../assets/icons/filter.svg">
  </div>
</div>
