.modalButton {
  $root: &;
  position: relative;

  #{&}__counter {
    position: absolute;
    height: 25px;
    width: 25px;
    top: -10px;
    padding-top: 1px;
    right: 0;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: $color-white;
  }

  #{&}__button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $color-black;
    text-align: center;

    img {
      height: 30px;
      width: 30px;
      transform: translateY(16px);
    }
  }
}
