<div class="compareSelect">
  <div class="box-wrapper">
    <div class="box-label">
      Wähle zwei Vorbereitungen
    </div>
    <div class="box-content">
      <div class="compareSelect__content clearfix" v-if="contentBoxData != null">
        <content-box
          v-for="item in contentBoxData"
          :class="{'compareSelect--active' : showCta()}"
          :data="item"
          :isClickable="true"
        ></content-box>
      </div>
      <transition name="slideUp">
        <div class="compareSelect__cta"
             @click="startCompare()"
             v-if="showCta()">
          <button-standard
            :label="'Vorbereitungen vergleichen'"
            :icon="'next'"
          ></button-standard>
        </div>
      </transition>
    </div>
  </div>
</div>
