.tagItem {
  display: inline-block;

  width: fit-content;
  padding: 3px 8px 2px 8px;
  margin: 0 auto;
  border-radius: 15px;

  font-weight: 400;
  color: $color-white;
  font-size: 12px;
  font-family: $font-family--secondary;

  background-color: #43b3e6;
}
