.mapModule {
  $root: &;
  position: relative;
  // border: 1px solid black;
  height: 400px;
  // margin-bottom: 20px;

  .leaflet-control-attribution {
    display: none;
  }

  #{&}__overlay {
    width: 135px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 10px;

    #{$root}__details {
      width: 150px;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      right: 32px;
      text-align: right;
      opacity: 1;

      #{$root}__detail {
        margin-bottom: 15px;
      }
    }
  }
}
