<div class="mapModule">
  <leaflet-map :bounds="mapOptions.bounds" :options="{ scrollWheelZoom: false }">
    <leaflet-tilelayer :url="mapOptions.live" :attribution="mapOptions.attribution"></leaflet-tilelayer>
    <leaflet-polyline :lat-lngs="mapOptions.latLngs" :color="'red'"></leaflet-polyline>
  </leaflet-map>
  <div class="mapModule__overlay">
      <div class="mapModule__details" v-if="overlayData">
        <map-overlay-item
          class="mapModule__detail"
          :value="overlayData.distance"
          :label="'Distance'"
          :illustration="'stopwatch'"
        ></map-overlay-item>

        <hr class="mapModule__divider">

        <map-overlay-item
          class="mapModule__detail"
          :value="overlayData.duration"
          :label="'Duration'"
          :illustration="'stopwatch'"
        ></map-overlay-item>

        <hr class="mapModule__divider">

        <map-overlay-item
          class="mapModule__detail"
          :value="overlayData.heartrate"
          :label="'Avg. Heartrate'"
          :illustration="'stopwatch'"
        ></map-overlay-item>

        <hr class="mapModule__divider">

        <map-overlay-item
          class="mapModule__detail"
          :value="overlayData.speed"
          :label="'Avg. Pace'"
          :illustration="'stopwatch'"
        ></map-overlay-item>
      </div>
  </div>
</div>
