<div class="historyChart">
  <div>
    <div class="historyChart__label">
      {{ label }}
    </div>
    <div class="historyChart__label">
      {{ labelLast }}
    </div>
  </div>
  <div class="historyChart__value">
    {{ maxUp }}
  </div>
  <div id="history">

  </div>
  <div class="historyChart__value">
    {{ maxDown }}
  </div>
  <div class="historyChart__explanation">
    Die äußeren Linien visualisieren den aufsummierten Gesamtwert der gewählten Kategorie. Die farbigen Kreisbögen stehen für die einzelen Trainingsarten.
    Die Länge der Kreise wird anhand des größten Gesamtwertes berechnet. So beschreibt ein 180-Grad Bogen 100% des Gesamtwertes.
  </div>

  <div class="historyChart__list card" v-if="listData !== null">
    <div class="historyChart__list-item clearfix" v-for="item in listData" v-if="item[0].label !== 'All'">
      <div class="historyChart__valueList"
           :class="{ 'historyChart__valueList--fat' : getHighlight(item[0].values.upper[0], item[0].values.lower[0]) }"
      >
        <div>{{ outputValue(item[0].values.upper[0]) }}</div>
        <div class="historyChart__typeName">{{ item[0].label }}</div>
      </div>
      <div class="historyChart__type"><div class="historyChart__dot" :style="{backgroundColor: getColor(item[0].label)}"></div></div>
      <div class="historyChart__valueList"
           :class="{ 'historyChart__valueList--fat' : getHighlight(item[0].values.lower[0], item[0].values.upper[0]) }"
      >
        <div>{{ outputValue(item[0].values.lower[0]) }}</div>
        <div class="historyChart__typeName">{{ item[0].label }}</div>
      </div>
    </div>
  </div>
</div>
