<div>
  <div>
    <select v-model="selectedTrainingCluster" @change="selectTrainingCluster()">
      <option v-for="cluster in clusters" :value="cluster.clusterName">{{ cluster.clusterName }}</option>
    </select>
  </div>

  <hr>

  <div>
    start:
    <input v-model="timeRange.start" type="date" @change="setDateRange()">
    end:
    <input v-model="timeRange.end" type="date" @change="setDateRange()">
  </div>

  <hr>

  <div id="filter__time">
    <timegrouping-button
      v-for="option in timeGroupOptions"
      :content="option"
      :isActive="getActiveFilterElement(filter.selectedCluster, option.type)"
    ></timegrouping-button>
  </div>

  <hr>

  <div id="filter__activity">
    <filter-button
      v-for="option in filterOptions"
      :content="option"
      :isActive="getActiveFilterElement(filter.selectedRunType, option.type)"
    ></filter-button>
  </div>
</div>
