.compareModule {
  $root: &;

  &__headline {
    text-align: center;
    font-family: $font-family--main;
    font-size: 16px;
    font-weight: 500;
    color: $color-black;

    &-text {
      margin-bottom: 4px;
    }
  }

  #{&}__chart {
    text-align: center;
  }
}
