<div class="container-fluid profile">
  <div class="container profile__content" v-if="weight !== null">
    <div class="profile__user">
      <img class="profile__img" src="https://images.pexels.com/photos/305241/pexels-photo-305241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <div class="profile__name">
        Hendrik Cammann
      </div>
      <div class="profile__type">
        Marathonläufer
      </div>
    </div>
    <div class="profile__userStats clearfix">
      <div class="box-label">
        Körperwerte
      </div>
      <div class="boxes clearfix">
        <content-box
          :data="weight"
        ></content-box>
        <content-box
          :data="Vo2max"
        ></content-box>
        <content-box
          :data="maxHF"
        ></content-box>
        <content-box
          :data="restHF"
        ></content-box>
      </div>
      <button-standard
        :label="'Bearbeiten'"
        :icon="'edit'"
      ></button-standard>
    </div>

    <div class="profile__activityStats clearfix">
      <div class="box-label">
        Statistiken
      </div>
      <div class="boxes clearfix">
        <content-box
          :data="totalActivities"
        ></content-box>
        <content-box
          :data="totalCompetitions"
        ></content-box>
      </div>
    </div>

    <div class="profile__records clearfix">
      <div class="box-label">
        Bestzeiten
      </div>
      <div class="profile__record card" @click="handleClick(Marathon.activityId)">
        <div class="profile__type">{{ Marathon.type }}</div>
        <div class="profile__value">{{ Marathon.time }}</div>
      </div>
      <div class="profile__record card" @click="handleClick(HalfMarathon.activityId)">
        <div class="profile__type">{{ HalfMarathon.type }}</div>
        <div class="profile__value">{{ HalfMarathon.time }}</div>
      </div>
      <div class="profile__record card" @click="handleClick(Tenk.activityId)">
        <div class="profile__type">{{ Tenk.type }}</div>
        <div class="profile__value">{{ Tenk.time }}</div>
      </div>
      <button-standard
        :label="'Bearbeiten'"
        :icon="'edit'"
      ></button-standard>
    </div>
  </div>
</div>
