.modalActivity {
  $root: &;
  // padding: 16px;
  color: $colors-text;
  font-family: $font-family--main;

  #{&}__box {
    margin-bottom: 8px;
  }

  #{&}__headline {
    margin-bottom: 8px;
    font-weight: 400;
    padding: 16px;

    #{$root}__image {
      display: inline-block;
      height: 48px;
      width: 48px;
      position: absolute;
      top: 17px;
      left: 8px;
    }

    #{$root}__text {
      display: inline-block;
      max-width: 70%;
      margin-left: 40px;

      #{$root}__main {
        color: $colors-text;
        font-weight: 700;
        font-family: $font-family--secondary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #{$root}__sub {
        color: $colors-label;
        font-size: 14px;
      }
    }
  }

  #{&}__item {
    padding: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid $colors-label;

    #{$root}__name {
      display: inline-block;
      max-width: 85%;
    }

    #{$root}__img {
      display: inline-block;
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }

    #{$root}__link {
      transform: translate(0, 5px);
      display: inline-block;
      height: 12px;
      width: 12px;
      float: right;
    }

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
