.buttonMain {
  font-family: $font-family--main;
  font-size: 16px;
  color: $color-white;
  letter-spacing: 0.5px;
  border-radius: 30px;
  width: fit-content;
  background-color: $color-black;
  padding: 9px 32px 5px 32px;
  box-shadow: 0 0 20px 0 rgba(34, 34, 34, 0.5);

  &--small {
    font-size: 12px;
    padding: 9px 24px 5px 24px;
  }
}
