.competitions {
  $root: &;
  margin-left: 108px;
  padding-top: 80px;

  #{&}__filter {
    position: fixed;
    text-align: right;
    bottom: 60px;
    right: 0;
    z-index: 10;
    width: 60px;
    // left: calc(50% + 54px);
    pointer-events: none;
    // transform: translateX(-50%);

    .detailToggle {
      margin-top: 16px;
      pointer-events: all;
      float: right;
    }

    .modalButton {
      pointer-events: all;
      float: right;
      //transform: translateX(94px);
    }

    .smartFilter {
      margin-top: 16px;
      pointer-events: all;
      float: right;
      //transform: translateX(94px);
    }
  }

  #{&}__wrapper {
    position: relative;

    #{$root}__weeks {
      position: absolute;
      width: 100px;
      left: -100px;
      top: 121px;
      padding-right: 16px;
      text-align: right;
      color: $color-grey--light;
    }
  }

  .compareModule {
    margin-bottom: 40px;
  }
}
