<div class="activityRunListItem">
  <div class="activityRunListItem__content">
    <div>
      <div class="activityRunListItem__index">
        {{ index + 1 }}
      </div>
      <div class="activityRunListItem__distance">
        {{ data.distance }}
      </div>
      <div class="activityRunListItem__pace">
        {{ data.pace }}
      </div>
      <div class="activityRunListItem__heartrate">
        {{ data.heartrate }}
      </div>
    </div>
    <!--<div class="activityRunListItem__bar" :style="{width: barLength + '%', 'background-color' : barColor }">
    </div>-->
  </div>
</div>
