.compare {
  $root: &;
  margin-left: 108px;
  // margin-top: 40px !important;

  #{&}__title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 90px;
  }

  #{&}__subTitle {
    background-color: black;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;

    #{$root}__subTitle-text {
      color: $color-white;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-align: left;
    }
  }

  #{&}__donut {
    text-align: center;
    font-family: $font-family--secondary;
    font-size: 14px;
    color: #9D9D9D;
  }

  #{&}__menu {
    text-align: center;
    margin-bottom: 10px;
  }

  #{&}__select {
    font-family: $font-family--secondary;
    display: inline-block;
    padding: 5px 60px;
    font-size: 14px;
  }
}
